@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  margin: 0 auto;
  background-image: url(images/bg-intro-desktop.png);
  background-color: #FF7979;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1{
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.52px;
  margin: 0;
}

button:hover{
  cursor: pointer;
}

.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 121px;
}

.leftSection{
  width: 525px;
  height: 220px;
  margin-left: 165px;
}

.rightSection{
  width: 540px;
  height: 558px;
  margin-right: 165px;
}

.firstCTA{
  background-color: #5E54A4;
  color: white;
  width: 540px;
  height: 60px;
  border-style: none;
  border-radius:10px;
  font-size: 15px;
  line-height: 26px;
  box-shadow:0 6px rgba(28, 28, 36, 0.2);
}

.firstCTA:hover{
  background-color: #6c63a5;
}

.formContainer{
  background-color: white;
  border-radius: 10px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 40px;
  box-sizing: content-box;
  margin-top: 24px;
  box-shadow:0 8px rgba(28, 28, 36, 0.15);
}

span{
  color: #FF7979;
  font-style: italic;
  font-size: 11px;
  float: right;
  padding-right: 40px;
}



input{
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  width: 460px;
  height: 56px;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #DEDEDE;
  border-style: solid;
  outline: none;
}

input:focus{
  border-color: #5E54A4;
}

.inputError{
  border-color: #FF7979;
  border-width: 2px;

}

.secondCTA{
  background-color: #38CC8B;
  color: white;
  border-style: none;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 600;
  width: 460px;
  height: 56px;
  margin: 10px auto 8px auto;
  box-shadow:0 6px rgb(46, 180, 122);
}

.secondCTA:hover{
  background-color:#5fd4a1;
}

.legalText{
  color: #BAB7D4;
  font-size: 11px;
  margin: 0;
}

.legalText >a{
  color: #FF7979;
  font-weight: 700;
  text-decoration: none;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1000px){
  .mainContainer{
    flex-direction: column;
    text-align: center;
  } 

  .leftSection{
    margin-left: 0;
    width: 80%;
  }

  .rightSection{
    margin-right: 0;
    width: 60%;
  }

  .firstCTA{
    width: 100%;
    padding: 18px 66px 18px 66px;
  }
  input{
    width: 80%;
  }

  .secondCTA{
    width: 80%;
  }

  
}

@media only screen and (max-width: 650px){
  h1{
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.29px;
  }

  .mainContainer{
    margin-top: 88px;
    margin-bottom: 88px;
  }

  .leftSection{
    height: auto;
  }

  .rightSection{
    width: 90%;
  }

  
}

@media only screen and (max-width:456px){
  .firstCTA{
    height: 88px;
  }
}

@media only screen and (min-width:1500px){
  .mainContainer{
    height: 100vh;
    margin: 0 auto;
  }
}